<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-</key>
	<string>A disposition of property for the benefit of some person orpersons, usually through the medium of trustees, and for the benefitof a wife, children, or other relatives; jointure granted to a wife,or the act of granting it.</string>
	<key>------</key>
	<string>One of the simplest essential parts, more commonly calledcells, of which animal and vegetable organisms, or their tissues andorgans, are composed.</string>
	<key>-ABLY</key>
	<string>A suffix composed of -able and the adverbial suffix -ly; as,favorably.</string>
	<key>ZYMOPHYTE</key>
	<string>A bacteroid ferment.</string>
	<key>ZYMOSE</key>
	<string>Invertin.</string>
	<key>ZYMOTIC</key>
	<string>Designating, or pertaining to, a certain class of diseases. SeeZymotic disease, below. Zymotic disease (Med.), any epidemic,endemic, contagious, or sporadic affection which is produced by somemorbific principle or organism acting on the system like a ferment.</string>
	<key>ZYTHEM</key>
	<string>See Zythum.</string>
	<key>ZYTHEPSARY</key>
	<string>A brewery. [R.]</string>
</dict>
</plist>